* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  cursor: none;
}

ul {
  list-style: none;
}

.cursor {
  position: absolute;
  display: none;
  font-size: 16px;
  font-weight: bold;
  color: rgb(39, 85, 204);
}

/* 공통영역 */
body {
  background-color: rgb(35, 33, 33);
  overflow: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

.wrap {
  width: 100vw;
  height: 100vh;
}

.open-gate {
  position: absolute;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background-color: black;
  cursor: auto;
}

.welcome-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.welcome-page__input {
  text-align: center;
  z-index: 9;
  width: 200px;
  height: 25px;
  border: 0;
  background-color: black;
  color: rgba(188, 194, 200, 0.793);
  cursor: auto;
}

.menu-box {
  position: absolute;
  width: 100vw;
  height: 100%;
  display: none;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  left: 0;
  top: 0;
  animation: blur 1s alternate ease-in;
}

@keyframes blur {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

.contents-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 26vw;
  height: 25vh;
  border-radius: 20px;
  text-align: center;
  background-color: floralwhite;
  transition: all .3s;
}

.contents-box:hover {
  transform: scale(1.1);
}

.box-text {
  font-size: 2vh;
}

.box-icon {
  font-size: 15vh;
}

.contents-area {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 4, 255, 0.623);
}

.morse-code-area {
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 60vh;
  border-radius: 20px;
  background-color: antiquewhite;
  animation: blur 0.4s alternate ease-in;
}

.morse-code-area__close-button {
  border: 0;
  background-color: transparent;
}

.morse-input-form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.morse-input-area,
.morse-output-area {
  text-align: center;
  width: 45%;
  height: 90%;
  padding: 20px;
  border: 0px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  resize: none;
  cursor: none;
}


/* tetris */
.tetris-area {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  min-width: 270px;
  height: 60vh;
  min-height: 260px;
  border-radius: 20px;
  background-color: antiquewhite;
  animation: blur 0.4s alternate ease-in;
}

.game-text {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  color: #fff;
  font-size: 50px;
}

.game-text>button {
  padding: 0.5rem 1rem;
  color: #fff;
  background: salmon;
  border: none;
}

.playground>ul {
  border: 1px solid #333;
  width: 250px;
  margin: 0 auto;
}

.playground>ul>li {
  width: 100%;
  height: 25px;
}

.playground>ul>li>ul {
  display: flex;
}

.playground>ul>li>ul>li {
  width: 25px;
  height: 25px;
  outline: 1px solid #ccc;
}

.tree {
  background: #67c23a;
}

.bar {
  background: salmon;
}

.zee {
  background: #e6a23c;
}

.elLeft {
  background: #8e44ad;
}

.elRight {
  background: #16a085;
}

.square {
  background: blue;
}



/* calculator */
.calculator-area {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 60vh;
  min-width: 330px;
  min-height: 260px;
  border-radius: 20px;
  background-color: antiquewhite;
  animation: blur 0.4s alternate ease-in;
}

.calculator-area>.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.calculator-display {
  display: flex;
  justify-content: flex-end;
  width: 308px;
  height: 50px;
  margin: 1px;
  padding: 10px;
  border-radius: 5px;
  font-size: 30px;
  background-color: #333;
  color: #fff;
  overflow: scroll;
}

.calculator-display::-webkit-scrollbar {
  display: none;
}

.calculator-button>ul {
  display: flex;
  flex-direction: column;
}

.calculator-button>ul>li>ul {
  display: flex;
}

.calculator-button>ul>li>ul>li>button {
  width: 60px;
  height: 40px;
  margin: 1px;
  border: none;
  border-radius: 5px;
  outline: none;
  color: #fff;
  background-color: #333;
}

.calculator-button>ul>li>ul>li>button:hover {
  background-color: gray;
}

.calculator-button>ul>li>ul>li>button:active {
  color: #333;
  background-color: rgb(180, 180, 180);
}

/* instakilogram */
.instakilogram-area {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60vw;
  height: 60vh;
  min-width: 370px;
  min-height: 260px;
  border-radius: 20px;
  background-color: antiquewhite;
  overflow: scroll;
  animation: blur 0.4s alternate ease-in;
}

.instakilogram-area::-webkit-scrollbar {
  display: none;
}

.instakilogram-area>.wrapper {
  position: relative;
}

.instakilogram-login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 396px;
  padding: 10px 0;
  margin: 0 auto;
  border: 1px solid #dbdbdb;
  background-color: #fff;
}

.instakilogram-logo {
  margin: 36px 0 12px;
}

.instakilogram-login-box>div {
  margin-top: 12px;
}

.instakilogram-login-form {
  margin-top: 24px;
}

.instakilogram-id-input,
.instakilogram-password-input {
  width: 268px;
  height: 38px;
  background-color: #fafafa;
  padding: 9px 8px 7px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px;
  font-size: 12px;
}

.instakilogram-login-form>div:nth-child(1),
.instakilogram-login-form>div:nth-child(2) {
  margin: 0 40px 6px;
}

.instakilogram-login-button {
  width: 268px;
  height: 30px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background: rgba(0, 149, 246, 0.3);
}

.instakilogram-login-form>div:nth-child(3) {
  margin: 14px 40px 18px;
}

.instakilogram-login-form>div:nth-child(4) {
  display: flex;
  align-items: center;
  margin: 10px 40px 14px;
  white-space: nowrap;
}

.instakilogram-login-form>div:nth-child(4)>div:nth-child(1),
.instakilogram-login-form>div:nth-child(4)>div:nth-child(3) {
  border-top: 1px solid #dbdbdb;
  width: 100%;
  height: 1px;
  line-height: 18px;
}

.facebook-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../images/32f0a4f27407.png) no-repeat;
  background-position-x: -414px;
  background-position-y: -259px;
  margin-right: 8px;
}

.facebook-login {
  display: flex;
  justify-content: center;
}

.facebook-login:hover .facebook-login__text {
  color: rgb(112, 151, 188);
}

.facebook-login__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: rgb(56, 81, 133);
}

.instakilogram-login-form>div:nth-child(4)>div:nth-child(2) {
  margin: 0 18px;
  line-height: 15px;
  color: rgb(142, 142, 142);
  font-size: 13px;
  font-weight: 600;
}

.find-password {
  color: rgb(0, 55, 107);
  font-size: 12px;
  line-height: 16px;
  transition: all 0.1s;
}

.find-password:hover {
  color: rgb(123, 174, 222);
  transform: scale(1.01);
}

.instakilogram-login-form>div:nth-child(5) {
  margin: 26px 40px 8px;
}

.login-error-text {
  display: none;
  text-align: center;
  color: #ed4956;
  font-size: 14px;
  line-height: 18px;
}

.saved-id {
  display: none;
  position: absolute;
  left: 20%;
  top: 45%;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #333;
  color: rgb(208, 208, 208);
}

.saved-id:hover {
  background-color: rgb(101, 100, 100);
}

.saved-id>p {
  margin-top: 5px;
  font-size: 12px;
}

.insta-contents {
  display: none;
  flex-direction: column;
  width: 350px;
  height: 500px;
  background-color: rgb(250, 250, 250);
  overflow: scroll;
}

.insta-contents::-webkit-scrollbar {
  display: none;
}

.insta-contents__header {
  display: flex;
  justify-content: space-between;
  width: 350px;
  background-color: rgb(250, 250, 250);
}

.insta-contents__header-left {
  display: flex;
  align-items: center;
  padding: 14px 4px 14px 16px;
}

.insta-contents__header-left>img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.insta-contents__header-left>p {
  margin-left: 12px;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
}

.insta-contents__header-right {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
}

.insta-contents__header-right>i {
  font-size: 24px;
  width: 24px;
  height: 24px;
  padding-top: 5px;
}

.insta-contents__images {
  width: 350px;
  height: 262px;
}

.insta-contents__images>img {
  width: 350px;
  height: 262px;
  object-fit: cover;
}

.insta-contents__footer {
  display: flex;
  flex-direction: column;
}

.insta-contents__footer__button {
  display: flex;
  justify-content: space-between;
  padding: 6px 8px 8px;
}

.insta-contents__footer__button i {
  width: 40px;
  height: 40px;
  padding: 8px;
  font-size: 24px;
  text-align: center;
}

.insta-contents__footer__button .fa-regular:hover {
  color: gray;
}

.fa-solid.hart-button {
  animation: click-hart 0.2s alternate ease-in;
  color: rgb(237, 73, 86);
}

@keyframes click-hart {
  0% {
    transform: scale(1.2);
    color: rgb(237, 73, 86);
  }

  50% {
    transform: scale(1.15);
    color: rgb(237, 73, 86);
  }

  100% {
    transform: scale(1.0);
    color: rgb(237, 73, 86);
  }
}



.insta-contents__footer__like,
.insta-contents__footer__text {
  display: flex;
  padding: 0 16px;
}

.insta-contents__footer__like-imgs {
  width: 50px;
  height: 20px;
  margin-right: 4px;
}

.insta-contents__footer__like-text {
  font-size: 14px;
  line-height: 18px;
}

.insta-contents__footer__text {
  position: relative;
  display: flex;
  align-items: flex-end;
}

.insta-contents-text {
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: wrap;
}

.detail-view-text {
  white-space: nowrap;
  position: absolute;
  left: 145px;
  bottom: 0;
  color: rgb(142, 142, 142);
  font-size: 14px;
  line-height: 18px;
}

.detail-view-text:hover {
  color: rgb(222, 220, 220);
}

.tag {
  color: rgb(0, 55, 107);
}

.insta-comment-area {
  /* display: flex; */
  display: none;
  flex-direction: column;
}

.insta-comment {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 16px 0;
}

.insta-comment-text {
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: wrap;
}

.insta-contents__footer__comment {
  display: flex;
  padding: 6px 16px;
  margin-top: 10px;
  border-top: 1px solid rgb(239, 239, 239);
  border-bottom: 1px solid rgb(220, 220, 220);
}

.insta-contents__footer__comment>i {
  font-size: 24px;
  padding: 8px 16px 8px 0;
}

.insta-contents__comment-form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.insta-contents__comment-input {
  width: 100%;
  border: 0;
  background-color: rgb(250, 250, 250);
  font-size: 14px;
  line-height: 18px;
}

.insta-contents__comment-button {
  white-space: nowrap;
  border: 0;
  background-color: transparent;
  color: rgba(0, 149, 256, .4);
  font-weight: 600;
}

@media all and (max-height:660px) {
  .instakilogram-area {
    align-items: flex-start;
  }
}

@media all and (max-height:840px) {
  .instakilogram-area {
    align-items: flex-start;
  }

  .instakilogram-login-box {
    margin: 50px 0;
  }
}